# EDA

In [ ]:
import pandas as pd
import numpy as np
import altair as alt

In [32]:
train_data = pd.read_csv("../data/train.csv")

In [33]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5352 entries, 0 to 5351
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      5352 non-null   int64
 1   id                              5352 non-null   int64
 2   name                            5352 non-null   object
 3   neighborhood_overview           3476 non-null   object
 4   host_id                         5352 non-null   int64
 5   host_name                       5352 non-null   object
 6   host_response_time              4263 non-null   object
 7   host_response_rate              4263 non-null   object
 8   host_acceptance_rate            4620 non-null   object
 9   host_is_superhost               5315 non-null   object
 10  host_listings_count             5352 non-null   int64
 11  host_total_listings_count       5352 non-null   int64
 12  neighbourhood                   3476 non-null   object
 13  neighbourhood_cleansed          5352 non-null   object
 14  latitude                        5352 non-null   float64
 15  longitude                       5352 non-null   float64
 16  property_type                   5352 non-null   object
 17  room_type                       5352 non-null   object
 18  accommodates                    5352 non-null   int64
 19  bathrooms                       0 non-null      float64
 20  bedrooms                        0 non-null      float64
 21  beds                            5316 non-null   float64
 22  amenities                       5352 non-null   object
 23  price                           4687 non-null   object
 24  minimum_nights                  5352 non-null   int64
 25  maximum_nights                  5352 non-null   int64
 26  minimum_nights_avg_ntm          5352 non-null   float64
 27  maximum_nights_avg_ntm          5352 non-null   float64
 28  availability_30                 5352 non-null   int64
 29  availability_60                 5352 non-null   int64
 30  availability_90                 5352 non-null   int64
 31  availability_365                5352 non-null   int64
 32  number_of_reviews               5352 non-null   int64
 33  number_of_reviews_ltm           5352 non-null   int64
 34  review_scores_rating            4452 non-null   float64
 35  review_scores_accuracy          4452 non-null   float64
 36  review_scores_cleanliness       4452 non-null   float64
 37  review_scores_checkin           4451 non-null   float64
 38  review_scores_communication     4452 non-null   float64
 39  review_scores_location          4451 non-null   float64
 40  review_scores_value             4451 non-null   float64
 41  instant_bookable                5352 non-null   object
 42  calculated_host_listings_count  5352 non-null   int64
 43  reviews_per_month               4446 non-null   float64
 44  monthly_revenue                 5352 non-null   int64
dtypes: float64(15), int64(16), object(14)
memory usage: 1.8+ MB

In [34]:
train_data = train_data.drop(columns = ["Unnamed: 0", "id", "name", "host_name", 'availability_30',
 'availability_60',
 'availability_90'])

In [35]:
train_data.describe()

,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month,monthly_revenue
count,5.352000e+03,5352.000000,5352.000000,5352.000000,5352.000000,5352.000000,0.0,0.0,5316.000000,5352.000000,...,4452.000000,4452.000000,4452.000000,4451.000000,4452.000000,4451.000000,4451.000000,5352.000000,4446.000000,5352.000000
mean,1.916746e+08,11.917601,18.213191,49.262454,-123.112037,3.519619,NaN,NaN,1.927389,15.941517,...,4.778841,4.807729,4.760007,4.844812,4.867345,4.814383,4.662662,6.886584,1.825263,1837.484679
std,1.808806e+08,45.576743,61.783016,0.021200,0.037719,2.044174,NaN,NaN,1.180906,29.134653,...,0.365107,0.352957,0.415887,0.314645,0.310635,0.295924,0.407893,19.657382,1.919462,1334.488315
min,4.662000e+03,1.000000,1.000000,49.202960,-123.217730,1.000000,NaN,NaN,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.010000,0.000000
25%,2.637491e+07,1.000000,1.000000,49.249640,-123.130884,2.000000,NaN,NaN,1.000000,2.000000,...,4.730000,4.780000,4.720000,4.810000,4.860000,4.760000,4.590000,1.000000,0.330000,798.750000
50%,1.318506e+08,2.000000,3.000000,49.268795,-123.115078,3.000000,NaN,NaN,2.000000,3.000000,...,4.880000,4.900000,4.880000,4.940000,4.960000,4.900000,4.750000,1.000000,1.060000,1705.000000
75%,3.428838e+08,5.000000,8.000000,49.278994,-123.090373,4.000000,NaN,NaN,2.000000,30.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.880000,3.000000,2.867500,2665.500000
max,5.505990e+08,466.000000,1037.000000,49.294360,-123.023730,16.000000,NaN,NaN,13.000000,399.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,134.000000,15.820000,8584.000000

In [36]:
train_data.head()

,neighborhood_overview,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,neighbourhood,neighbourhood_cleansed,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,reviews_per_month,monthly_revenue
0,Everything you need is nearby. <br /><br />Hig...,57488206,NaN,NaN,NaN,f,3,3,"Vancouver, British Columbia, Canada",Hastings-Sunrise,...,4.80,4.82,4.90,4.87,4.69,4.81,f,3,0.77,2108
1,NaN,139792573,within a few hours,100%,100%,f,1,4,NaN,Sunset,...,NaN,NaN,NaN,NaN,NaN,NaN,f,1,NaN,2730
2,Beautiful neighbourhood close to prosperous Ma...,265504225,within an hour,100%,98%,t,1,1,"Vancouver, British Columbia, Canada",Riley Park,...,4.90,4.78,4.97,4.94,4.90,4.75,f,1,3.22,2254
3,We are located in a quiet residential neighbor...,22595056,NaN,NaN,92%,t,1,1,"Vancouver, British Columbia, Canada",Sunset,...,5.00,5.00,5.00,5.00,4.86,5.00,f,1,1.28,3187
4,Kitsilano at it's best! Short walk to all the ...,65683877,within an hour,100%,95%,t,2,3,"Vancouver, British Columbia, Canada",Kitsilano,...,4.93,4.89,4.97,4.97,4.96,4.85,f,1,2.01,3479

In [37]:
# change columns with % strings to floats
train_data['host_response_rate'] = train_data['host_response_rate'].str.rstrip('%').astype('float') / 100.0
train_data['host_acceptance_rate'] = train_data['host_acceptance_rate'].str.rstrip('%').astype('float') / 100.0

In [38]:
train_data.head()

,neighborhood_overview,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,neighbourhood,neighbourhood_cleansed,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,reviews_per_month,monthly_revenue
0,Everything you need is nearby. <br /><br />Hig...,57488206,NaN,NaN,NaN,f,3,3,"Vancouver, British Columbia, Canada",Hastings-Sunrise,...,4.80,4.82,4.90,4.87,4.69,4.81,f,3,0.77,2108
1,NaN,139792573,within a few hours,1.0,1.00,f,1,4,NaN,Sunset,...,NaN,NaN,NaN,NaN,NaN,NaN,f,1,NaN,2730
2,Beautiful neighbourhood close to prosperous Ma...,265504225,within an hour,1.0,0.98,t,1,1,"Vancouver, British Columbia, Canada",Riley Park,...,4.90,4.78,4.97,4.94,4.90,4.75,f,1,3.22,2254
3,We are located in a quiet residential neighbor...,22595056,NaN,NaN,0.92,t,1,1,"Vancouver, British Columbia, Canada",Sunset,...,5.00,5.00,5.00,5.00,4.86,5.00,f,1,1.28,3187
4,Kitsilano at it's best! Short walk to all the ...,65683877,within an hour,1.0,0.95,t,2,3,"Vancouver, British Columbia, Canada",Kitsilano,...,4.93,4.89,4.97,4.97,4.96,4.85,f,1,2.01,3479

In [39]:
train_data.select_dtypes("number").columns.to_list()

['host_id',
 'host_response_rate',
 'host_acceptance_rate',
 'host_listings_count',
 'host_total_listings_count',
 'latitude',
 'longitude',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'minimum_nights',
 'maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'availability_365',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'calculated_host_listings_count',
 'reviews_per_month',
 'monthly_revenue']